.TitleBlock {
    @media (min-width: 650px) {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 24px;
    }


    .BackButton {
        @media (max-width: 449px) {
            border: none;
            padding-left: 0;
            margin-bottom: 16px;
        }
    }
}


