@import url("./variables.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  padding-bottom: 16px;
}

ul, ol {
  margin-left: 30px;
  padding-bottom: 16px;
}

li {
  padding-bottom: 8px;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--text-primary-color);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.RadialLoader {
  height: 150px;
  pointer-events: none;
  animation: LoaderAnimation 1s linear infinite;
}

@keyframes LoaderAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*WP styles*/

.aligncenter,
.alignleft,
.alignright {
  margin-bottom: 28px;
}

.aligncenter {
  display: block;
  margin: 20px auto 28px;
}

.wp-caption.aligncenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.lonely-image__wrapper {
  border: 3px solid rgba(77, 160, 192, 0.2);
  border-radius: 6px;
}

.wp-caption {
  img {
    border: 3px solid rgba(77, 160, 192, 0.2);
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.wp-caption-text {
  width: 100%;
  padding: 8px 15px;
  text-align: right;
  font-size: 0.8em;
  background-color: rgba(77, 160, 192, 0.2);
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.alignleft {
  @media (min-width: 500px) {
    float: left;
    margin-right: 24px;
  }
}

.alignright {
  @media (min-width: 500px) {
    float: right;
    margin-left: 24px;
  }
}

.aentry-post__figure,
.aentry-post__img--text-width {
  margin-bottom: 16px;
}


