@import url("./variables.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  padding-bottom: 16px;
}

ul, ol {
  margin-left: 30px;
  padding-bottom: 16px;
}

li {
  padding-bottom: 8px;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--text-primary-color);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.RadialLoader {
  height: 150px;
  pointer-events: none;
  animation: LoaderAnimation 1s linear infinite;
}

@keyframes LoaderAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*WP styles*/
.aentry-post__img--text-width:has(.aligncenter) {
  text-align: center;
}

.aentry-post__img--text-width:has(.alignleft) {
  text-align: left;
}

.aentry-post__img--text-width:has(.alignright) {
  text-align: right;
}


