.SingleEntryTitleBlock {
    margin-bottom: 16px;
    @media (min-width: 650px) {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 24px;
    }

    &:has(> :nth-child(2)) .SingleEntryTitle {
        margin-bottom: 12px;
    }

    &:has(.SingleEntrySubtitle) .SingleEntryTitle{
        margin-bottom: 6px;
    }

    &:has(> :nth-child(2)) .SingleEntrySubtitle {
        margin-bottom: 16px;
    }

    .BackButton {
        @media (max-width: 649px) {
            border: none;
            padding-left: 0;
        }
        @media (min-width: 650px) {
            margin-top: 10px;
            margin-left: 30px;
            box-sizing: content-box;
        }
    }
}