.InfoWidget {
    padding: 30px 50px;
    margin-bottom: 40px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    min-height: 315px;
}

.InfoWidget::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
}

.InfoWidget::after {
    @media(min-width: 768px) {
        content: '';
        position: absolute;
        top: 30px;
        left: 50px;
        width: 35%;
        height: 100%;
        background-image: url(@/assets/images/curiosity.png);
        background-repeat: no-repeat;
        background-size: contain;
        filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.25)) drop-shadow(0 6px 12px rgba(var(--color-primary-main-rgb, 122, 208, 240), 0.3)) drop-shadow(0 0 15px rgba(var(--color-primary-light-rgb, 160, 224, 255), 0.2));
    }
}
