.EntryPreview {
    padding: 16px;

    &:not(:last-of-type) {
        margin-bottom: 16px;
    }

    &:has(img) {
        @media (min-width: 600px) {
            display: flex;
            align-items: flex-start;
            gap: 16px;
        }
    }
}

.ImageBox {
    margin-bottom: 16px;

    @media (min-width: 600px) {
        margin-bottom: 0;
        max-width: 200px;
    }
}

.ButtonLink {
    font-size: var(--body2-font-size);
}