.PageTitleBlock {
    @media (min-width: 650px) {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 24px;
    }

    .PageTitle:not(:only-child) {
        margin-bottom: 12px;
    }

    .BackButton {
        @media (max-width: 649px) {
            border: none;
            padding-left: 0;
        }
        @media (min-width: 650px) {
            margin-top: 10px;
            margin-left: 30px;
            box-sizing: content-box;
        }
    }
}