.ImageWrapper {
    border: 3px solid rgba(77, 160, 192, 0.3);
    border-radius: 6px;
    display: block;
    @media (min-width: 600px) {
        display: inline-block;
    }
}

.Image {
    border-radius: 5px;
}